@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html {
	  height: 100%;
	 }
body {
	  height: 100%;
	  font: 14px/18px 'Times New Roman', Times, sans-serif;
	  background-color: #FFF;
      }
ol, ul {
	    list-style: none;
        }
* {
	margin: 0;
	padding: 0;
	outline: none;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a, a:hover {
	text-decoration: none;
}

.clearfix:before,
.clearfix:after {
				 content: " ";
				 display: table;
}

.clearfix:after {
	clear: both;
}

.container{
	width: 1170px;
	margin: 0 auto;
}

.home{
	background: #222 url(images/header-bg.png) no-repeat center top;
	height: 800px;
}

.header{
	padding-top: 34px;
}

.logo{
	float: left;
}

.nav{
	float: right;
	padding-top: 10px;
	padding-right: 120px;
}

.nav li{
	float: left;
	padding-right: 70px;
}

.nav li:hover{
	text-decoration: underline;
}

.nav a{
	font: bold 18px/18px Roboto;
	color: #fff;
}

#lastli{
	padding-right: 0px;
}

.phone{
	float: right;
	color: #fff;
	font: 16px/16px Roboto;
	text-align: right;
}

.firline{
	padding-bottom: 3px;
}
.phone-image{
	float: left;
	margin-right: 10px;
}
.secline{
	font: bold 16px/16px Roboto;
	float: right;
}

.home-text{
	text-align: center;
	margin-top: 190px;
}

.main-text{
	margin-bottom: 15px;
}
.main-text h1{
	font: bold 60px/60px 'Roboto Slab';
	color: #fff;
	padding-bottom: 20px;
}

.another-text{
	margin-bottom: 30px;
}

.another-text h3{
	font:  16px/16px Roboto;
	color: #fff;
	padding-bottom: 5px;
}

.btn{
	background: none;
	padding: 16px 50px 16px 50px;
	border-radius: 8px;
	border: 1px solid #fff;
}

.btn a{
	font:  bold 18px/18px Roboto;
	color: #fff;
}

.pointer{
	display: block;
	margin-top: 140px;
	text-align: center;
}

.offers{
	height: 1135px;
	background-color: #fff;
	padding: 60px 0px 60px 0px;
}

.offers h1{
	font:  bold 30px/30px 'Roboto Slab';
	color: #000;
	text-align: center;
	margin-bottom: 10px;
	letter-spacing: 1px;
}

.offer{
	text-align: center;
	padding: 50px 62px 0px 62px;
	float: left;
	width: 33.33%;
	border-spacing: 
}

.item-descr{
	margin: 25px 35px 25px 35px;
	text-align: left;
}

.item-descr h3{
	font:  bold 18px/18px 'Roboto Slab';
	color: #000;
	margin-bottom: 8px;
}
.item-descr h4{
	font:  bold 18px/18px 'Roboto Slab';
	color: #000;
	margin-bottom: 17px;
}
.item-descr h5{
	font: 16px/16px Roboto;
	color: #000;
	margin-bottom: 17px;
}
.item-descr h2{
	font:  bold 18px/18px 'Roboto Slab';
	color: #000;
	margin-bottom: 17px;
	float: left;
}

.btn2{
	background: none;
	padding: 16px 58px 16px 58px;
	border-radius: 8px;
	border: 1px solid #000;
}

.btn2 a{
	font:  bold 18px/18px Roboto;
	color: #000;
}

.item-descr img{
	float: right;
}

.content{
	border: 1px solid #000;
	box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.about{
	height: 750px;
	background: #222 url(images/about-bg.png) no-repeat center top;
	padding: 65px 0px 65px 0px;
}

.about h1{
	font:  bold 30px/30px 'Roboto Slab';
	color: #fff;
	text-align: center;
	padding-bottom: 70px;
	letter-spacing: 1px;
}

.abt-intro{
	padding-bottom: 60px;
}

.txt{
	float: left;
	color: #fff; 
}
.txt h5{
	font: bold 18px/18px 'Roboto Slab';
	color: #fff;
	margin-bottom: 20px;
}

.txt p{
	font: 16px/16px Roboto;
	color: #fff;
	margin-bottom: 10px;
}

.abtimg{
	float: right;
}

.abt-item{
	float: left;
	width: 25%;
	text-align: center;
	padding: 0px 30px 0px 30px;
}
.abt-item-img{
	padding-bottom: 15px;
}

.abt-item h2{
	font: bold 18px/18px 'Roboto Slab';
	color: #fff;
	margin-bottom: 15px;
}

.abt-item p{
	font: 16px/16px Roboto;
	color: #fff;
	line-height: 27px;
}

.contact{
	height: 650px;
	padding-top: 65px;
	background: url(images/map.png) no-repeat center bottom;
}

.contact h1{
	font:  bold 30px/30px 'Roboto Slab';
	color: #000;
	text-align: center;
	padding-bottom: 70px;
	letter-spacing: 1px;
}

.contact-block{
	width: 470px;
	height: 485px;
	background: #1f1f1f;
	float: right;
	opacity: 0.9332;
}

.contact-content{
	margin: 50px 30px 0px 30px;
}

.contact-content h2{
	font: bold 20px/20px Roboto;
	color: #fff;
	line-height: 25px;
	margin-bottom: 50px;
	letter-spacing: 2px;
}

.input-field input{
	font: bold 20px/20px Roboto;
	color: #7f7f7f;
	background: none;
	border: none;
	padding: 5px 23px 5px 23px;
}

.line{
	width: 100%;
	height: 1px;
	background: #fff;
	margin-bottom: 50px;
}

.btn3{
	background: none;
	padding: 16px 18px 16px 18px;
	border-radius: 8px;
	border: 1px solid #fff;
	margin-bottom: 45px;
}

.btn3 a{
	font:  bold 18px/18px Roboto;
	color: #fff;
	letter-spacing: 2px;
}

.contact-content h3{
	font: bold 20px/20px Roboto;
	color: #6d6d6d;
}
.footer{
	background: #000;
	height: 78px;
	padding-top: 25px;
}

.logo2{
	float: left;
	margin-right: 47px;
}

.logo2 img{

}

.logo2 p{
	font: bold 12px/12px Roboto;
	color: #555555;
}

.nav2{
	float: left;
	padding-top: 10px;
	padding-right: 127px;
}
.nav2 li{
	float: left;
	padding-right: 57px;
}

.nav2 a{
	font: bold 16px/16px Roboto;
	color: #8c8c8c;
}
.soc-netw a {
	margin-bottom: 6px;
}

.soc-netw ul{
	padding-left: 2px;
}

.soc-netw li{
	padding-right: 8px;
}

.soc-netw img{
	background: bottom;
}

.phone2{
	float: left;
	text-align: right;
}

.firline2{
	font: 13px/13px Roboto;
	color: #8c8c8c;
	padding-bottom: 6px;
}

.secline2{
	font: bold 15px/15px Roboto;
	color: #8c8c8c;
}

.secline2 img{
	float: left;
	padding-right: 10px;
}

.secline2 p{
	float: right;
}










