@font-face {
    font-family: 'Akrobat';
    src: url(../fonts/akrobat/Akrobat-Thin.otf)
}
@font-face {
    font-family: 'Bodoni';
    src: url(../fonts/bodoni/BOD_R.TTF);
}
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after{
    clear: both;
}
.left {
    float: left;
}
.right{
    float: right;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}
body {
    height: 100%;
    background-color: #0f0f0f;
    font-family: 'Akrobat';
    color: #fff; 
}
.container,
.cont {
    display: none;
}
.outer_wrapper {
    position: relative;
    margin: 0 auto;
    margin: 0 4%;
}
.inner_wrapper {
    position: relative;
    margin: 0 auto;
    margin: 0 30%;
}
.middle_wrapper {
    position: relative;
    margin: 0 auto;
    margin: 0 17%;
}
section {
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
}
.text_bg {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 6em;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 10px;
    color: #3e2a25;
    text-transform: uppercase;
    opacity: .4;
}
.headline {
    position: absolute;
    text-transform: uppercase;
    font-size: 1.5em;
    font-family: 'Bodoni';
}
.arrow__header--visible {
    display: none;
}
.btn {
    width: 170px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid gray;
}
.btn__link {
    width: 170px;
    height: 40px;
    color: #fff;
    text-decoration: none;
}
.btn__arrow_wrapper {
    width: 39px;
    height: 39px;
    border-left: 1px solid gray;
}
.btn:hover {
    border: 1px solid #fb974d;
}
.btn:hover .btn__arrow_wrapper {
    border-left: 1px solid #fb974d;
}
.btn__content {
    font: 20px 'Akrobat';
    line-height: 39px;
    text-transform: uppercase;
}
.fa {
    font-size: 36px;
    line-height: 39px;
}

#home {
    height: 100vh;
    background: url(../img/backgr_img.png) no-repeat center bottom/cover;
}
.header__nav {
    height: 100vh;
}
.line {
    position: fixed;
    top: 0;
    left: 40px;
    display: inline-block;
    height: 100vh;
    width: 2px;
    background-color: #979695;
    z-index: 1;
    opacity: .4;
}
.nav__list {
    position: fixed;
    top: 0;
    left: 35px;
    margin: 0;
    padding: 0;
    z-index: 2;
}
.nav__item {
    font: 15px 'Bodoni'; 
    opacity: 0.4;
    line-height: calc(100vh/8);
    list-style-image: url(../img/marker.png);
    list-style-position: inside;
    text-transform: uppercase;
    transition: all .1s linear;
}
.nav__link {
    color: #fff;
    text-decoration: none;
}
.nav__item:hover {
    position: relative;
    left: -6px;
    font-size: 20px;
    list-style-image: url(../img/mark_hov.png);
    opacity: 1;
}

.caption {
    position: absolute;
    top: 20%;
    right: 0;
    width: 500px;
    font: 80px 'Bodoni';
    text-align: right;
}
.about__headline,
.happening__headline,
.volunteers__headline,
.contact__headline {
    top: 55px;
    right: 0;
    left: 0;
}
.about__article,
.directors__article,
.happening__article,
.video__article,
.volunteers__article,
.gallery__article,
.contact__article {
    width: 100%;
    margin-top: 8%;
}
.about__info,
.happening__info {
    position: relative;
    height: 370px;
}
.happening__info {
    height: 500px;
}
.about__img,
.happening__img{
    position: absolute;
    height: 370px;
}
.about__img {
    left: 0;
}
.about__text,
.happening__text {
    position: absolute;
    display: inline-block;
    width: 49%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: left;    
    overflow: hidden;
    font-size: 1.2em;
    line-height: 1.4em;
}
.about__text{
    right: 0;
}
.article__text--color,
.happening__text--color,
.volunteers__text--color,
.contact__text--color {
    color: #fb974d;
}
.about__btn,
.happening__btn {
    position: absolute;
    right: 0;
    bottom: 0;
}
.directors__bg {
    left: -35%;
}
.directors__headline {
    top: 55px;
    left: 0;
}
.directors__card,
.directors__card__img_box {
    position: relative;
    display: inline-block;
    overflow: hidden;
    height: 270px;
}
.directors__card {
    width: 25%;
    text-align: center;
}
.directors__card__img_box {
    width: 180px; 
}
.directors__image {
    width: 100%;
    height: auto; 
} 
.directors__card__content {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 160px;
    height: 250px;
    background-color:rgba(31, 24, 20, 0);     
    text-align: center;
}
.text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;    
}
.text--visible {
    display: none;
}
.directors__name {
    display: inline-block;
    padding-bottom: 5px;
    font: 18px 'Bodoni';
    color: rgb(255, 255, 255, 0);
    text-transform: uppercase;
}
.directors__status {
    display: inline-block;
    font: 12px 'Akrobat';
    font-style: italic;
    color: rgb(251, 151, 77, 0);
} 
.directors__icon {
    position: absolute;
    bottom: 5px;
    right: 0;
    left: 0;
    opacity: 0;
}
.directors__icon__list, 
.footer__icon__list{
    margin: 0;
    padding-left: 0;
    list-style: none;
}
.directors__list__item,
.footer__list__item {
    display: inline;
    margin-right: 6px;
}
.directors__list__img,
.footer__list__img {
    width: 16px;
}

.directors__card__content,
.directors__name,
.directors__status,
.directors__icon {
    transition: all .4s ease-in;
}
.directors__card__img_box:hover .directors__card__content {
    background-color:rgba(31, 24, 20, 0.7);               
}
.directors__card__img_box:hover .directors__name {
    color: rgb(255, 255, 255, 1);    
}
.directors__card__img_box:hover .directors__status {
    color: rgb(251, 151, 77, 1);
}
.directors__card__img_box:hover .directors__icon {
    opacity: 1;
}
.directors__btn {
    display: block;
    margin: 8% auto;
}
.happening__bg {
    left: 0;
    right: 0;
}
.happening__text {
    left: 0;
}
.happening__img {
    right: 0;
}
.video__bg {
    right: -50%;
    display: inline;
}
.video__headline {
    top: 55px;
    right: 0;
}
.video__article__video {
    width: 100%;
    height: auto;
    margin-top: -50px;
}
.volunteers__info {
    position: relative;
    height: 400px;
    margin-top: 10%;
}
.volunteers__article__text {
    position: absolute;
    left: 0;
    display: inline-block;
    width: 70%;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 1.2em;
    line-height: 1.5em;
}
.volunteers__btn {
    position: absolute;
    right: 0;
    top: 50%;                      
    transform: translate(0, -50%);
}

.gallery__bg {
    left: -50%;
}
.gallery__headline {
    top: 55px;
    left: 0;
}
.gallery__article {
    margin-top: 3%;
}
.gallery__article__img__box {
    display: inline-block;
    width: 30%;
}
.gallery__article__img {
    width: 90%;
    transition: all .3s;
    filter: brightness(50%);
}
.gallery__article__img:hover {
    transform: scale(1.2);
    filter: brightness(100%);
}
.gallery__btn {
    display: block;
    margin: 5% auto;
}
.contact__article__text {
    text-align: left;
}
.contact__article__headline {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 1.2em;
    line-height: 1.5em;
}

.contact__text--color {
    display: block;
    margin-top: 30%;
    font-size: 1.2em;
    line-height: 1.5em;
}
.contact__text {
    font-size: 1em;
    line-height: 1.5em;
}
.contact__map {
    width: 50%;
    height: 400px;
    border: none;
    filter: invert(100%) saturate(0) brightness(120%);
}
#footer {
    position: relative;
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: #000000;
}
.footer__content {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    opacity: .7;
}
.footer__info {
    font-size: 1em;
    line-height: 1.5em;
}
.footer__icons {
    margin-top: 15px;
}
.footer__list__item {
    margin-right: 15px;
}
.footer__list__item:last-child {
    margin-right: 0;
}


