
body {
    height: 100%;
    background-color: #0f0f0f;
    color: #fff;
}
.about__header,
.director__header,
.gallery__header{
    position: relative;
    height: 100vh;
}
.about__header{
    background: url(../img/about_page.jpg) no-repeat fixed center bottom/cover;
}
.director__header{
    background: url(../img/dir_page.jpg) no-repeat fixed center top/cover;
}
.gallery__header{
    background: url(../img/gal_page.jpg) no-repeat fixed center bottom/cover;
}
.about__header__content,
.director__header__content,
.gallery__header__content {
    position: absolute;
    top: 50%;
    width: 100%;   
    margin-top: -50px;
    background-color: rgba(168, 166, 166, 0.3);
}
.about__header__caption,
.director__header__caption,
.gallery__header__caption {
    text-align: center;
    text-transform: uppercase;
    font: 8vh 'Bodoni', Georgia, 'Times New Roman', Times, serif;
    color: #fff;
}
.arrow__header {
    position: absolute;
    left: 50%;
    bottom: 20px;
    width: 30px;
    height: 20px;
    transform: translateX(-50%);
    transition: all .3s;
    cursor: pointer;
}
    
.arrow__header__right, .arrow__header__left  {
    position: absolute;
    top: -4px;
    left: 50%;
    width: 4px;
    height: 100%;
    background-color: rgba(168, 166, 166);
}
    
.arrow__header__right {
    transform: rotate(45deg);
    transform-origin: bottom left;
    transition: all .3s .15s;
}
.arrow__header__left {
    transform: rotate(-45deg);
    transform-origin: bottom right;
    transition: all .3s;
}
.arrow__header:hover .arrow__header__left {
    background-color: rgb(255, 255, 255);
}
.arrow__header:hover .arrow__header__right {
    background-color: rgb(255, 255, 255);
}
.arrow__header:active {
    transform: translateX(-50%)  scale(0.7);
}
    
.about__main__info,
.director__main__info {
    padding-top: 8%;
    text-align: justify;
    font-family: 'Akrobat';
    font-size: 3vh;
    line-height: 1.4em;
    color: #fff;
}
.about__main__btn,
.dir__btn,
.gallery__btn {
    position: relative;
    display: block;
    margin: 8% auto;
    text-align: center;
}
.dir__info {
    width: 100%;
    margin-bottom: 100px;
}
.dir__info:last-child {
    margin-bottom: 0;
}
.dir__info__text {
    width: 500px;
}
.dir__info__text__name,
.dir__info__text__status {
    margin-bottom: 20px;
    color: #fb974d;
}
.dir__info__text__status {
    font-size: 3vh;
}
.dir__img__box {
    width: 230px;
    text-align: center;
}
.dir__info__img {
    width: 100%;
    height: auto;
    margin-top: 5px;
}
.dir__icon {
    margin-top: 20px;
}
.dir__icon__img {
    margin: 0 10px;
}

.valunteer__wrapper {
    padding: 50px 50px; 
    background-color: rgb(15, 15, 15, .7); 
}
.volunteer__form {
    margin: 0 auto;
}
.volunteer__form__input {
    display: block;
    width: 100%;
    height: 27px;
    margin: 3px auto 15px;
    padding: 0 5px;
    box-sizing: border-box;
    border: none;
    border-radius: 3px;
    font-size: 2vh;
}
.volunteer__form__label {
    font-family: 'Akrobat';
    font-size: 3vh;
    line-height: 1.4em;
    color: #fff;
}

.volunteer__bg {
    height: 100%;
    background: url(../img/vol_page.jpg) no-repeat fixed center top/cover;    
}
.volunteer__form__headline {
    margin-bottom: 20px;
    font-family: 'Bodoni', Georgia, 'Times New Roman', Times, serif;
    font-size: 3vh;
    line-height: 1.4em;
    color: #fb974d;
}
.volunteer__form__block {
    margin-bottom: 50px;
}
.volunteer__form__input__block {
    margin-bottom: 10px;
}
.volunteer__form__input__block:last-child {
    margin-bottom: 0;
}
.volunteer__form__block--btn {
    width: 150px;
    margin: 0 auto;    
}
.volunteer__form__input--btn {
    width: 100%;
    height: 40px;
    border: 1px solid gray;
    background: none;
    text-transform: uppercase;
    font: 20px 'Bodoni', Georgia, 'Times New Roman', Times, serif;
    color: #fff;
    cursor: pointer;
}
.volunteer__form__input--btn:hover {
    border: 1px solid #fb974d;
}
textarea {
    width: 100%;
    font-size: 2.5vh;
}
.gallery__container {
    width: 100%;
    padding-top: 70px;
}
.gallery__img__row {
    position: relative;
    width: 870px;
    height: 250px;
    margin: 0 auto;
    margin-top: 10px;
    overflow: hidden;
}
.gallery__text__box {
    position: relative;
    left: 250px;
    display: inline-block;
    width: 250px;
    height: 100%;
    margin-right: -4px;
    text-align: center;
    background-color: #fb974d;
    z-index: -1;
    transition: all .3s;
}
.gallery__text {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-family: 'Bodoni', Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5vh;
    color: #fff;
}
.gallery__img__box {
    display: inline-block;
    width: 375px;    
    height: 100%;
    margin: 0 auto;
    margin-right: -4px;
    overflow: hidden;
    z-index: 1;
}
.gallery__img {
    width: 100%;
    height: 250px;
    -ms-filter: brightness(50%);
    filter: brightness(.5);
    transition: all .3s;
}
.gallery__img__box--bw {
    position: absolute;
    right: 250px;
    display: inline-block;
    width: 250px; 
    height: 100%;
    margin-right: -4px;
    overflow: hidden;
    z-index: -1;
    transition: all .3s;
}
.gallery__img--bw {
    height: 100%;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%) brightness(.5);
    filter: gray; /* IE 6-9 */
}
.gallery__img__row:hover .gallery__img {
    -ms-filter: brightness(100%);
    filter: brightness(1);
}
.gallery__img__row:hover:nth-child(odd) .gallery__text__box {
    transform: translateX(-250px);
}
.gallery__img__row:hover:nth-child(odd) .gallery__img__box--bw {
    transform: translateX(250px);
}
.gallery__img__row:hover:nth-child(even) .gallery__text__box {
    transform: translateX(375px);    
}
.gallery__img__row:hover:nth-child(even) .gallery__img__box--bw {
    transform: translateX(-374px);        
}
.gallery__btn {
    margin: 50px auto;
}




