@media screen and (min-width: 300px) and (max-width: 750px) {

    /*HEADER WRAPPER*/
    .header-wrapper {
        height: 350px;
    }

    header {
        height: 40px;
    }

    .logo {
        padding: 5px 0;
        width: 15px;
    }

    .container {
        width: 80%;
    }

    .nav li {
        margin-left: 7px;
        padding-top: 10px;
    }

    .nav a {
        font-size: 13px;
        color: blue;
    }

    .header-images {
        padding-top: 50px;
    }

    .imgheader {
        width: 30px;
        height: 30px;
        padding: 0 15px 0 0;
    }

    .header-wrapper h1 {
        font-size: 30px;
        margin: 10px 0 0 0;
        text-shadow: 3px 3px 5px black, 0 0 2px white;
    }

    .header-wrapper h4 {
        font-size: 14px;
        margin: 10px 0 25px 0;
    }

    .header-button-block {
        padding-top: 5px;
    }

    .blue-button {
        border: 2px solid #0fe0e0;
        border-radius: 17px;
        font-size: 15px;
        padding: 5px 16px 5px 16px;
    }

    /*--------*/

    /*БРОСАЙ ВЫЗОВ*/
    .challenge-wrapper {
        height: 400px;
        background: url(../images/layout3.png) no-repeat center bottom;

    }

    .challenge-title {
        padding-top: 5px;
    }

    .challenge-title h3 {
        font-size: 21px;
    }

    .challenge-text {
        font-size: 9px;
    }

    .challenge-img {
        padding-top: 90px;
        padding-left: 20px;
    }


    .challenge-img img {
        width: 200px;
    }
    /*---------*/

    .about-wrapper {
        height: 640px;
        background: url(../images/layout4.png) no-repeat center top;
    }

    .about-block img {
        height: 65px;
    }

    .about-block p {
        font-size: 9px;
    }

    .mainpart-wrapper ul {
        font-size: 12px;
    }

    .mainpart-ul {
        padding-left: 20px;
    }

    .mainpart-img {
        padding-right: 70px;
        padding-top: 40px;
    }

    .mainpart-wrapper img {
        width: 200px;
    }

    /*Программа*/

    .title-wrapper {
        padding-top: 1%;
    }

    .title-wrapper h3 {
        font-size: 20px;
    }

    .program-wrapper {
        height: 370px;
    }

    .program-block {
        width: 33.33%;
    }

    .program-block-title {
        font-size: 12px;
    }

    .program-block-content {
        font-size: 10px;
        line-height: 20px;
    }

    .bottom-span {
        padding-top: 25px;
    }

    .bottom-span span {
        font-size: 18px;
        text-shadow: 3px 3px 6px black, 0 0 3px white;
    }

    .referees-wrapper {
        height: 300px;
    }

    .referees-title-wrapper {
        font-size: 20px;
        padding-top: 40px;
    }

    .referees-blue-button {
        font-size: 15px;
        padding: 12px 30px 12px 30px;
    }

    .referees-button-block {
        padding-top: 70px;
    }

    .hands img {
        width: 250px;
        top: -32px;
    }

    .support-wrapper {
        height: 470px;
    }

    .support-title-wrapper {
        font-size: 18px;
        padding-top: 30px;
    }

    .textsup {
        font-size: 9px;
    }

    .question p {
        line-height: 22px;
    }

    /*-----*/

    /*CONTACTS*/

    .contacts-wrapper {
        width: 100%;
        height: 500px;
    }

    .contacts-text {
        padding-top: 15px;
    }

    .contacts-text p {
        font-size: 12px;
    }

    .contacts-map iframe {
        padding-top: 30px;
        height: 250px;
        width: 250px;
    }

    .sponsors-wrapper {
        top: 28em;
    }

    .sponsors-wrapper img {
        width: 80px;
        height: 80px;
        margin-right: 35px;
    }

    .sponsor-images {
        padding-top: 35px;
    }

    /*--------*/

    /*FOOTER*/
    .footerbar {
        height: 100px;
    }

    .footerbar-block p {
        font-size: 12px;
    }
}