@media screen and (min-width: 751px) and (max-width: 992px) {

    /*HEADER WRAPPER*/
    .header-wrapper {
        height: 500px;
    }

    header {
        height: 70px;
    }

    .logo {
        padding: 5px 0;
        width: 25px;
    }

    .container {
        width: 80%;
    }

    .nav li {
        margin-left: 35px;
        padding-top: 15px;
    }

    .nav a {
        font-size: 20px;
        color: green;
    }

    .header-images {
        padding-top: 80px;
    }

    .imgheader {
        width: 50px;
        height: 50px;
        padding: 0 35px 0 0;
    }

    .header-wrapper h1 {
        font-size: 40px;
        margin: 12px 0 0 0;
        text-shadow: 3px 3px 5px black, 0 0 2px white;
    }

    .header-wrapper h4 {
        font-size: 15px;
        margin: 10px 0 25px 0;
    }

    .header-button-block {
        padding-top: 15px;
    }

    .blue-button {
        border: 3px solid #0fe0e0;
        border-radius: 35px;
        font-size: 17px;
        padding: 8px 20px 8px 20px;
    }

    /*--------*/

    /*БРОСАЙ ВЫЗОВ*/
    /*.challenge-wrapper {*/
        /*height: 900px;*/
    /*}*/

    /*.challenge-title {*/
        /*padding-top: 5px;*/
    /*}*/

    /*.challenge-title h3 {*/
        /*font-size: 25px;*/
    /*}*/

    /*.challenge-text {*/
        /*font-size: 14px;*/
    /*}*/

    /*.challenge-img {*/
        /*padding-top: 40px;*/
        /*padding-right: 40px;*/
    /*}*/

    /*.challenge-img img {*/
        /*width: 450px;*/
    /*}*/
    /*---------*/

    /*Программа*/

    .title-wrapper {
        padding-top: 1%;
    }

    .title-wrapper h3 {
        font-size: 26px;
    }

    .program-wrapper {
        height: 600px;
    }

    .program-block {
        width: 33.33%;
    }

    .program-block-title {
        font-size: 22px;
    }

    .program-block-content {
        font-size: 16px;
        line-height: 34px;
    }

    .bottom-span {
        padding-top: 55px;
    }

    .bottom-span span {
        font-size: 30px;
        text-shadow: 3px 3px 6px black, 0 0 3px white;
    }

    /*-----*/

    /*CONTACTS*/

    .contacts-wrapper {
        width: 100%;
        height: 750px;
    }

    .contacts-text {
        padding-top: 15px;
    }

    .contacts-text p {
        font-size: 18px;
    }

    .contacts-map iframe {
        padding-top: 30px;
        height: 330px;
        width: 330px;
    }

    .sponsors-wrapper {
        top: 28em;
    }

    .sponsors-wrapper img {
        width: 100px;
        height: 100px;
        margin-right: 35px;
    }

    .sponsor-images {
        padding-top: 35px;
    }

    /*--------*/

    /*FOOTER*/
    .footerbar {
        height: 100px;
    }

    .footerbar-block {
        width: 33.33%;
        height: 100%;
    }

    .footerbar-block p {
        font-size: 16px;
    }
}