@media screen and (min-width: 300px) and (max-width: 768px) {

    /*HEADER WRAPPER*/
    .header-wrapper {
        height: 350px;
    }

    header {
        height: 40px;
    }

    .logo {
        padding: 5px 0;
        width: 15px;
    }

    .container {
        width: 80%;
    }

    .nav li {
        margin-left: 7px;
        padding-top: 10px;
    }

    .nav a {
        font-size: 13px;
    }

    .header-images {
        padding-top: 10px;
    }

    .imgheader {
        width: 30px;
        height: 30px;
        padding: 0 15px 0 0;
    }

    .header-wrapper h1 {
        font-size: 30px;
        margin: 10px 0 0 0;
        text-shadow: 3px 3px 5px black, 0 0 2px white;
    }

    .header-wrapper h4 {
        font-size: 14px;
        margin: 10px 0 25px 0;
    }

    .header-button-block {
        padding-top: 5px;
    }

    .blue-button {
        border: 2px solid #0fe0e0;
        border-radius: 17px;
        font-size: 15px;
        padding: 5px 16px 5px 16px;
    }

    .nav a {
        color: white;
    }

    /*--------*/

    /*БРОСАЙ ВЫЗОВ*/
    /*.challenge-wrapper {*/
        /*height: 400px;*/
    /*}*/

    /*.challenge-title {*/
        /*padding-top: 5px;*/
    /*}*/

    /*.challenge-title h3 {*/
        /*font-size: 25px;*/
    /*}*/

    /*.challenge-text {*/
        /*font-size: 14px;*/
    /*}*/

    /*.challenge-img {*/
        /*padding-top: 400px;*/
        /*float: left;*/
    /*}*/

    /*.challenge-img img {*/
        /*width: 150px;*/
    /*}*/
    /*---------*/

    /*CONTACTS*/

    .contacts-wrapper {
        width: 100%;
        height: 550px;
    }

    .contacts-text {
        padding-top: 5px;
    }

    .contacts-text p {
        font-size: 15px;
    }

    .contacts-map iframe {
        padding-top: 15px;
        height: 250px;
        width: 250px;
    }

    .sponsors-wrapper {
        top: 23em;
    }

    .sponsors-wrapper img {
        width: 60px;
        height: 60px;
        margin-right: 25px;
    }

    .sponsor-images {
        padding-top: 25px;
    }

    /*--------*/

    /*FOOTER*/
    .footerbar {
        height: 100px;
    }

    .footerbar-block {
        width: 33.33%;
        height: 100%;
    }

    .footerbar-block p {
        font-size: 13px;
    }

    /*--------*/
}