@media screen and (min-width: 993px) and (max-width: 1366px) {

    /*HEADER WRAPPER*/
    .header-wrapper {
        height: 700px;
    }

    header {
        height: 75px;
    }

    .logo {
        padding: 10px 0;
        width: 25px;
    }

    .container {
        width: 80%;
    }

    .nav li {
        margin-left: 42px;
        padding-top: 17px;
    }

    .nav a {
        font-size: 23px;
    }

    .logo {
        padding: 8px 0;
        width: 130px;
    }

    .languages {
        padding: 25px 27px 0 0;
    }

    .header-images {
        padding-top: 115px;
    }

    .imgheader {
        width: 90px;
        height: 90px;
        padding: 0 42px 0 0;
    }

    .header-wrapper h1 {
        font-size: 65px;
        margin: 14px 0 0 0;
        text-shadow: 4px 4px 8px black, 0 0 4px white;
    }

    .header-wrapper h4, .earlyReg {
        font-size: 20px;
        margin: 15px 0 25px 0;
    }

    .header-button-block {
        padding-top: 25px;
    }

    .blue-button {
        border: 3px solid #0fe0e0;
        border-radius: 42px;
        font-size: 25px;
        padding: 10px 26px 10px 26px;
    }



    /*--------*/

    .challenge-wrapper {
        height: 650px;
        background: url(../images/layout3.png) no-repeat center bottom;
    }

    .challenge-title {
        padding-top: 10px;
    }

    .challenge-title h3 {
        font-size: 30px;
    }

    .challenge-text {
        font-size: 15px;
    }

    .challenge-img {
        padding-top: 110px;
        padding-left: 10px;
    }

    .challenge-img img {
        width: 370px;
    }
    /*---------*/

    .about-wrapper {
        height: 1100px;
        background: url(../images/layout4.png) no-repeat center top;
    }

    .about-block img {
        height: 100px;
    }

    .about-block p {
        font-size: 17px;
    }   

    .mainpart-wrapper {

    }

    .mainpart-wrapper ul {
        font-size: 25px;
    }

    .mainpart-ul {
        padding: 20     px 0 0 40px;
    }

    .mainpart-img {
        padding-right: 50px;
        padding-top: 40px;
    }

    .mainpart-wrapper img {
        width: 430px;
    }

    /*Программа*/

    .title-wrapper {
        padding-top: 2%;
    }

    .title-wrapper h3 {
        font-size: 30px;
    }

    .program-wrapper {
        height: 700px;
    }

    .program-block {
        width: 33.33%;
    }

    .program-block-title {
        font-size: 22px;
    }

    .program-block-content {
        font-size: 15px;
        line-height: 38px;
    }

    .bottom-span {
        padding-top: 55px;
    }

    .bottom-span a {
        font-size: 32px;
        text-shadow: 4px 4px 8px black, 0 0 4px white;
    }

    .bottom-span span {
        font-size: 32px;
        text-shadow: 4px 4px 8px black, 0 0 4px white;
    }

    .referees-wrapper {
        height: 600px;
    }

    .referees-title-wrapper {
        font-size: 30px;
        padding-top: 120px;
    }

    .referees-blue-button {
        font-size: 20px;
        padding: 12px 30px 12px 30px;
    }

    .referees-button-block {
        padding-top: 70px;
    }

    .hands img {
        width: 400px;
        top: -50px;
    }

    .support-wrapper {
        height: 700px;
    }

    .support-title-wrapper {
        font-size: 25px;
        padding-top: 30px;
    }

    .textsup {
        font-size: 15px;
    }

    .question p, .answer li {
        margin: 0;
        line-height: 33px;
    }

    /*-----*/

    /*CONTACTS*/

    .contacts-wrapper {
        width: 100%;
        height: 850px;
    }

    .contacts-text {
        padding-top: 22px;
    }

    .contacts-text a {
        font-size: 20px;
    }

    .contacts-text p {
        font-size: 20px;
    }

    .contacts-map iframe {
        padding-top: 40px;
        height: 360px;
        width: 360px;
    }

    .sponsors-wrapper {
        top: 30em;
    }

    .sponsors-wrapper img {
        width: 140px;
        height: 140px;
        margin-right: 42px;
    }

    .sponsor-images {
        padding-top: 42px;
    }

    /*--------*/

    /*FOOTER*/
    .footerbar {
        height: 90px;
    }

    .footerbar-block {
        height: 90px;
    }

    .footerbar-block p {
        font-size: 18px;
    }

    .footerbar-block li {
        font-size: 14px;
    }
}